*{
    margin:0;
    padding:0;
    top:0;
    left:0;
    bottom:0;
    right:0;
}

body{
    overflow:hidden;
}

#img{
    margin-top:-100%;
}

.mySlides{
    top:0;
    left:0;
    bottom:0;
    right:0;
}

.loader {
    border-top: 10px solid #fa9a1f;
    border-right: 10px solid #185390;
    border-bottom: 10px solid #fa9a1f;
    border-left: 10px solid #008D3D;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top:-50%;
    margin-left:50%;
    transform:translate(-50%, 50%);
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }